/* SCORESHEET MAPPING */
.scoresheetWrapper{
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 1080px;
    /*background-color: aqua;*/
    /*max-height: 1600px;*/
}

.scoresheet{
    background-image: url('/public/images/score-sheet.jpg');
    background-repeat:no-repeat;
    background-size:cover;   
    height: 970px; 
    z-index: 10;
}

.scoresheet_score_taken:not(.total){
    color:red;
    cursor: not-allowed;
}

.scoresheet_Aces{
    min-width: 64px;
    min-height: 44px;
    max-height: 44px;
    display: inline-block;
    position: relative;
    top: 128px;
    left: 296px;
    z-index: 9;
    /*background-color: aqua;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Aces:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:contain;
    background-position: 30% 0%;
    cursor:pointer;
}

.scoresheet_Twos{
    min-width: 64px;
    min-height: 44px;
    max-height: 44px;
    display: inline-block;
    position: relative;
    top: 177px;
    left: 232px;
    z-index: 9;
    /*background-color:brown;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Twos:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_Threes{
    min-width: 64px;
    min-height: 44px;
    max-height: 44px;
    display: inline-block;
    position: relative;
    top: 226px;
    left: 168px;
    z-index: 9;
    /*background-color:blueviolet;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Threes:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_Fours{
    min-width: 64px;
    min-height: 44px;
    max-height: 44px;
    display: inline-block;
    position: relative;
    top: 273px;
    left: 104px;
    z-index: 9;
    /*background-color:chartreuse;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Fours:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_Fives{
    min-width: 64px;
    min-height: 44px;
    max-height: 44px;
    display: inline-block;
    position: relative;
    top: 320px;
    left: 40px;
    z-index: 9;
    /*background-color:chocolate;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Fives:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_Sixes{
    min-width: 64px;
    min-height: 43px;
    max-height: 43px;
    display: inline-block;
    position: relative;
    top: 317px;
    left: 296px;
    z-index: 9;
    /*background-color:darkcyan;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Sixes:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_TotalUpperNoBonus{
    min-width: 64px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 359px;
    left: 232px;
    z-index: 9;
    /*background-color:red;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Bonus{
    min-width: 64px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 399px;
    left: 168px;
    z-index: 9;
    /*background-color:aquamarine;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_TotalScoreUpperSection{
    min-width: 64px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 438px;
    left: 104px;
    z-index: 9;
    /*background-color:darkblue;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_ThreeOfAKind{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 508px;
    left: 39px;
    z-index: 9;
    /*background-color:blueviolet;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_ThreeOfAKind:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_FourOfAKind{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 502px;
    left: 295px;
    z-index: 9;
    /*background-color:aqua;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_FourOfAKind:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_FullHouse{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 542px;
    left: 230px;
    z-index: 9;
    /*background-color:cornflowerblue;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_FullHouse:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_SmStraight{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 582px;
    left: 165px;
    z-index: 9;
    /*background-color:chocolate;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_SmStraight:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_LgStraight{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 622px;
    left: 100px;
    z-index: 9;
    /*background-color:yellowgreen;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_LgStraight:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_Yahtzee{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 662px;
    left: 35px;
    z-index: 9;
    /*background-color:darkorange;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Yahtzee:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_Chance{
    min-width: 65px;
    min-height: 36px;
    max-height: 36px;
    display: inline-block;
    position: relative;
    top: 662px;
    left: 295px;
    z-index: 9;
    /*background-color:gold;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Chance:hover:not(.scoresheet_score_taken){
    background-image: url('/public/images/circle-red.png');
    background-repeat:space;
    background-size:cover;
    background-position: -6px -8px;
    cursor:pointer;
}

.scoresheet_TotalUpper{
    min-width: 187px;
    min-height: 42px;
    max-height: 42px;
    display: inline-block;
    position: relative;
    top: 705px;
    left: 180px;
    z-index: 9;
    /*background-color:blueviolet;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_TotalLower{
    min-width: 187px;
    min-height: 42px;
    max-height: 42px;
    display: inline-block;
    position: relative;
    top: 705px;
    left: 115px;
    z-index: 9;
    /*background-color:aquamarine;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

.scoresheet_Total{
    min-width: 187px;
    min-height: 57px;
    max-height: 57px;
    display: inline-block;
    position: relative;
    top: 700px;
    left: 180px;
    z-index: 9;
    /*background-color:blue;*/
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}
.total {
    font-weight: bold;
}